body {
    display: block;
    margin: 8px;
    background-color: black;
    background-image: url("assets/menuBGBlue.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
}
